.creador {
    height: 1fr;
    background-color: #5CC6DB;
    margin-left: 10px;
    padding: 10px;
    border-radius: 2%;
    color: #fff0c9;
}
.título {
    background-color: #ADDB5C;
    color: white;
    font-size: 40px;
    padding: 10px;
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 0px
}

textarea {
    background-color: #ADDB5C;
    color: white;
    border: none;
    border-radius: 5%;
}
input {
    background-color: #ADDB5C;
    color: white;
    border: none;
    border-radius: 5%;
}

.añadirTarea {
    width: 211px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #fff0c9;
}