

body {
  margin: 0;
  display: flex;
  place-items: center;
  
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}





button {
  padding: 0.6em 1.2em;
  cursor: pointer;
}


